body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.nav-buttons button {
  margin-right: 10px;
}

.logout-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.section, .sub-section {
  display: none;
  margin: 20px;
}

.sales-details, 
.sales-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sales-details div,
.sales-items div {
  flex: 1;
  margin-right: 10px;
}

.sales-details div input, 
.sales-items div input {
  padding: 5px;
  width: 20px;
}

.sales-details label,
.sales-items label {
  display: block;
  margin-right: 10px;
}

#salesSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#salesSection .sales-details,
#salesSection .sales-items {
  flex-direction: row;
  margin-bottom: 10px;
}

#salesSection button {
  display: block;
  margin-top: 10px;
}

h1 {
  text-align: center;
  flex-grow: 1;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form#addItemForm,
form#addPartnerForm {
  display: flex;
  align-items: center;
  gap: 15px;
}

form#addSalesForm div {
  margin-bottom: 10px;
}

form#addItemForm div,
form#addPartnerForm div,
form#addSalesForm div {
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

form#addItemForm div,
form#addPartnerForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

form#addItemForm div label,
form#addPartnerForm div label,
form#addSalesForm div label {
  margin-bottom: 5px;
  font-weight: bold;
}

form#addItemForm div input,
form#addItemForm div select,
form#addPartnerForm div input {
  padding: 5px;
  width: 10px;
}

form#addSalesForm div input {
  width: 100%;
}

form#addItemForm button,
form#addPartnerForm button,
form#addSalesForm button,
form#addSalesItem button {
  padding: 5px 10px;
}

#itemSection form div,
#partnerSection form div {
  margin-right: 10px;
}

#salesSection form div:last-child {
  margin-right: 0;
}

#addSalesItem,
#addSalesForm button[type="submit"] {
  display: block;
  margin-top: 10px;
}

#salesSection.active #addSalesItem,
#salesSection.active #addSalesForm button[type="submit"] {
  display: block;
}

