.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.logout-button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.section, .sub-section {
  margin: 20px;
}

h1 {
  text-align: center;
  flex-grow: 1;
}

button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button.active {
  background-color: green;
  color: white;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form#addItemForm {
  display: flex;
  align-items: center;
  gap: 15px;
}

form#addItemForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form#addItemForm div label {
  margin-bottom: 5px;
}

form#addItemForm div input,
form#addItemForm div select {
  padding: 5px;
  width: 100px;
}

form#addItemForm button {
  padding: 5px 10px;
}